.spec {

    width:300px;
    height: 200px;
    margin: 7px;
    img {
        width: auto;
        height: 200px;
    }

    .name {
        color: black;
        font-size: large;
    }

    .desc {
        color: rgb(73, 67, 67);
    }
}