.container {
    width: 100vw;

    .item {
        display: flex;
        margin: 20px 200px;
        border-top: solid;
        border-color: rgb(238, 232, 232);
        padding: 10px 0;

        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }

        
        .content {
            margin-left: 30px;
            margin-top: 25px;

            .name {
                color: rgb(54, 54, 148);
                font-size: 30px;
                font-weight: 500;
            }

            .speciality {
                color : rgb(125, 119, 119);
                font-size: 16px;
            }

            .experience {
                color : rgb(125, 119, 119);
                font-size: 16px;
            }

            .location {
                color: black;
                font-size: 20px;
            }

            .fee {
                border-bottom:dotted ;
                border-color: rgb(239, 234, 234);
            }

            button {
                color: green;
            }
        }

        .right{
            margin-left: auto;
            margin-top: auto;

            .available {
                color: green;

                .icon {
                    margin-right: 10px;
                }
            }

            button {
                background-color: rgb(146, 219, 244);
            }
            
        }
    }

}